@each $i in $sizes{
	.p-x{
		padding-left: $i + rpx;
		padding-right: $i + rpx;
	}
	.p-y{
		padding-top: $i + rpx;
		padding-bottom: $i + rpx;
	}
	.p-x-#{$i}{
		padding-left: $i + rpx;
		padding-right: $i + rpx;
	}
	.p-y-#{$i}{
		padding-top: $i + rpx;
		padding-bottom: $i + rpx;
	}
	.p-l-#{$i}{
		@if $i == 0 {
			padding-left: $i + rpx !important;
		} @else{
			padding-left: $i + rpx;
		}
	}
	.p-r-#{$i}{
		@if $i == 0 {
			padding-right: $i + rpx !important;
		} @else{
			padding-right: $i + rpx;
		}
	}
	.p-t-#{$i}{
		@if $i == 0 {
			padding-top: $i + rpx !important;
		} @else{
			padding-top: $i + rpx;
		}
	}
	.p-b-#{$i}{
		@if $i == 0 {
			padding-bottom: $i + rpx !important;
		} @else{
			padding-bottom: $i + rpx;
		}
	}
}

@each $name, $i in $sizes-map{
	.p-x-#{$name}{
		padding-left: $i + rpx;
		padding-right: $i + rpx;
	}
	.p-y-#{$name}{
		padding-top: $i + rpx;
		padding-bottom: $i + rpx;
	}
	.p-l-#{$name}{
		@if $i == 0 {
			padding-left: $i + rpx !important;
		} @else{
			padding-left: $i + rpx;
		}
	}
	.p-r-#{$name}{
		@if $i == 0 {
			padding-right: $i + rpx !important;
		} @else{
			padding-right: $i + rpx;
		}
	}
	.p-t-#{$name}{
		@if $i == 0 {
			padding-top: $i + rpx !important;
		} @else{
			padding-top: $i + rpx;
		}
	}
	.p-b-#{$name}{
		@if $i == 0 {
			padding-bottom: $i + rpx !important;
		} @else{
			padding-bottom: $i + rpx;
		}
	}
}