@each $i in $sizes{
	.space-x{
		padding-left: $i + rpx;
		padding-right: $i + rpx;
	}
	.space-y{
		padding-top: $i + rpx;
		padding-bottom: $i + rpx;
	}
	.space-x-#{$i}{
		padding-left: $i + rpx;
		padding-right: $i + rpx;
	}
	.space-y-#{$i}{
		padding-top: $i + rpx;
		padding-bottom: $i + rpx;
	}
	.space-l-#{$i}{
		@if $i == 0 {
			padding-left: $i + rpx !important;
		} @else{
			padding-left: $i + rpx;
		}
	}
	.space-r-#{$i}{
		@if $i == 0 {
			padding-right: $i + rpx !important;
		} @else{
			padding-right: $i + rpx;
		}
	}
	.space-t-#{$i}{
		@if $i == 0 {
			padding-top: $i + rpx !important;
		} @else{
			padding-top: $i + rpx;
		}
	}
	.space-b-#{$i}{
		@if $i == 0 {
			padding-bottom: $i + rpx !important;
		} @else{
			padding-bottom: $i + rpx;
		}
	}
}

@each $name, $i in $sizes-map{
	.space-x-#{$name}{
		padding-left: $i + rpx;
		padding-right: $i + rpx;
	}
	.space-y-#{$name}{
		padding-top: $i + rpx;
		padding-bottom: $i + rpx;
	}
	.space-l-#{$name}{
		@if $i == 0 {
			padding-left: $i + rpx !important;
		} @else{
			padding-left: $i + rpx;
		}
	}
	.space-r-#{$name}{
		@if $i == 0 {
			padding-right: $i + rpx !important;
		} @else{
			padding-right: $i + rpx;
		}
	}
	.space-t-#{$name}{
		@if $i == 0 {
			padding-top: $i + rpx !important;
		} @else{
			padding-top: $i + rpx;
		}
	}
	.space-b-#{$name}{
		@if $i == 0 {
			padding-bottom: $i + rpx !important;
		} @else{
			padding-bottom: $i + rpx;
		}
	}
}