@import "./variable";
@import "./styles/flex";
@import "./styles/block";
@import "./styles/background";
@import "./styles/border";
@import "./styles/font";
@import "./styles/gap";
@import "./styles/rounded";
@import "./styles/space";
@import "./styles/text";
@import "./styles/opacity";
@import "./styles/padding";
@import "./styles/margin";
@import "./styles/size";

.truncate{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}