@each $name,
$value in $colors {
	.border-#{$name} {
		border: $value 1 + $unit solid;
	}

	.border-t-#{$name} {
		border-top: $value 1 + $unit solid;
	}

	.border-b-#{$name} {
		border-bottom: $value 1 + $unit solid;
	}

	.border-l-#{$name} {
		border-left: $value 1 + $unit solid;
	}

	.border-r-#{$name} {
		border-right: $value 1 + $unit solid;
	}
}