@each $value in $sizes {
	@if $value>0 {
		.text-#{$value} {
			font-size: $value + $unit;
		}
	}
}

@each $name,
$value in $sizes-map {
	@if $name !=default {
		.text-#{$name} {
			font-size: $value + $unit;
		}
	}
}

.font-bold {
	font-weight: bold;
}

.font-normal {
	font-weight: normal;
}

.font-italic {
	font-style: italic;
}