@mixin gap-variant($name, $value) {
	@if $name==default {
		.gap {
			grid-gap: $value + $unit;
			gap: $value + $unit;
		}
	}

	@else {
		.gap-#{$value} {
			grid-gap: $value + $unit;
			gap: $value + $unit;
		}
	}

}

@each $value in $sizes {
	@include gap-variant($value, $value);
}

@each $name,
$value in $sizes-map {
	@include gap-variant($name, $value);
}