@mixin margin-variant($name, $value) {
	@if $name==default {
		.m-x {
			margin-left: $value + $unit;
			margin-right: $value + $unit;
		}

		.m-y {
			margin-top: $value + $unit;
			margin-bottom: $value + $unit;
		}

		.m-t {
			margin-top: $value + $unit;
		}

		.m-b {
			margin-bottom: $value + $unit;
		}

		.m-l {
			margin-left: $value + $unit;
		}

		.m-r {
			margin-right: $value + $unit;
		}
	}

	@else {
		.m-#{$name} {
			margin: $value + $unit;
		}

		.m-x-#{$name} {
			margin-left: $value + $unit;
			margin-right: $value + $unit;
		}

		.m-y-#{$name} {
			margin-top: $value + $unit;
			margin-bottom: $value + $unit;
		}

		.m-l-#{$name} {
			margin-left: $value + $unit;
		}

		.m-r-#{$name} {
			margin-right: $value + $unit;
		}

		.m-t-#{$name} {
			margin-top: $value + $unit;
		}

		.m-b-#{$name} {
			margin-bottom: $value + $unit;
		}
	}

}

@each $value in $sizes {
	@include margin-variant($value, $value);
}


@each $name,
$value in $sizes-map {
	@if $name==default {
		@include margin-variant($name, $value);
	}

	@else {
		@include margin-variant($name, $value);
	}
}