@mixin margin-variant($name, $value) {
	@if $name!=default {
		.m-#{$name} {
			margin: $value + $unit;
		}

		.mx-#{$name} {
			margin-left: $value + $unit;
			margin-right: $value + $unit;
		}

		.my-#{$name} {
			margin-top: $value + $unit;
			margin-bottom: $value + $unit;
		}

		.ml-#{$name} {
			margin-left: $value + $unit;
		}

		.mr-#{$name} {
			margin-right: $value + $unit;
		}

		.mt-#{$name} {
			margin-top: $value + $unit;
		}

		.mb-#{$name} {
			margin-bottom: $value + $unit;
		}
	}

}

@each $value in $sizes {
	@include margin-variant($value, $value);
}


@each $name,
$value in $sizes-map {
	@if $name==default {
		@include margin-variant($name, $value);
	}

	@else {
		@include margin-variant($name, $value);
	}
}