@each $i in $sizes {
	.p-#{$i} {
		padding: $i + $unit;
	}

	.p-x-#{$i} {
		padding-left: $i + $unit;
		padding-right: $i + $unit;
	}

	.p-y-#{$i} {
		padding-top: $i + $unit;
		padding-bottom: $i + $unit;
	}

	.p-l-#{$i} {
		padding-left: $i + $unit;
	}

	.p-r-#{$i} {
		padding-right: $i + $unit;
	}

	.p-t-#{$i} {
		padding-top: $i + $unit;
	}

	.p-b-#{$i} {
		padding-bottom: $i + $unit;
	}
}

@each $name,
$i in $sizes-map {
	@if $name==default {
		.p-x {
			padding-left: $i + $unit;
			padding-right: $i + $unit;
		}

		.p-y {
			padding-top: $i + $unit;
			padding-bottom: $i + $unit;
		}

		.p-t {
			padding-top: $i + $unit;
		}

		.p-b {
			padding-bottom: $i + $unit;
		}

		.p-l {
			padding-left: $i + $unit;
		}

		.p-r {
			padding-right: $i + $unit;
		}
	}

	@else {
		.p-#{$name} {
			padding: $i + $unit;
		}

		.p-x-#{$name} {
			padding-left: $i + $unit;
			padding-right: $i + $unit;
		}

		.p-y-#{$name} {
			padding-top: $i + $unit;
			padding-bottom: $i + $unit;
		}

		.p-l-#{$name} {
			padding-left: $i + $unit;
		}

		.p-r-#{$name} {
			padding-right: $i + $unit;
		}

		.p-t-#{$name} {
			padding-top: $i + $unit;
		}

		.p-b-#{$name} {
			padding-bottom: $i + $unit;
		}
	}
}