@each $i in $sizes{
	.p-#{$i}{
		padding: $i + $unit;
	}
	.p-l-#{$i}{
		@if $i == 0 {
			padding-left: $i + $unit !important;
		} @else{
			padding-left: $i + $unit;
		}
	}
	.p-r-#{$i}{
		@if $i == 0 {
			padding-right: $i + $unit !important;
		} @else{
			padding-right: $i + $unit;
		}
	}
	.p-t-#{$i}{
		@if $i == 0 {
			padding-top: $i + $unit !important;
		} @else{
			padding-top: $i + $unit;
		}
	}
	.p-b-#{$i}{
		@if $i == 0 {
			padding-bottom: $i + $unit !important;
		} @else{
			padding-bottom: $i + $unit;
		}
	}
}

@each $name, $i in $sizes-map{
	@if $name == default {
		.p-x{
			padding-left: $i + $unit;
			padding-right: $i + $unit;
		}
		.p-y{
			padding-top: $i + $unit;
			padding-bottom: $i + $unit;
		}
		.p-t{
			padding-top: $i + $unit;
		}
		.p-b{
			padding-bottom: $i + $unit;
		}
		.p-l{
			padding-left: $i + $unit;
		}
		.p-r{
			padding-right: $i + $unit;
		}
	} @else {
		.p-x-#{$name}{
			padding-left: $i + $unit;
			padding-right: $i + $unit;
		}
		.p-y-#{$name}{
			padding-top: $i + $unit;
			padding-bottom: $i + $unit;
		}
		.p-l-#{$name}{
			padding-left: $i + $unit;
		}
		.p-r-#{$name}{
			padding-right: $i + $unit;
		}
		.p-t-#{$name}{
			padding-top: $i + $unit;
		}
		.p-b-#{$name}{
			padding-bottom: $i + $unit;
		}
	}
}