@mixin rounded-variant($name, $value) {
	@if $name==default {
		.rounded {
			border-radius: $roundedDefault + $unit;
		}

		.rounded-l {
			border-radius: $roundedDefault + $unit 0 0 $roundedDefault + $unit;
		}

		.rounded-r {
			border-radius: 0 $roundedDefault + $unit $roundedDefault + $unit 0;
		}

		.rounded-t {
			border-radius: $roundedDefault + $unit $roundedDefault + $unit 0 0;
		}

		.rounded-b {
			border-radius: 0 0 $roundedDefault + $unit $roundedDefault + $unit;
		}

		.rounded-t-l {
			border-radius: $roundedDefault + $unit 0 0 0;
		}

		.rounded-t-r {
			border-radius: 0 $roundedDefault + $unit 0 0;
		}

		.rounded-b-l {
			border-radius: 0 0 0 $roundedDefault + $unit;
		}

		.rounded-b-r {
			border-radius: 0 0 $roundedDefault + $unit 0;
		}
	}

	@else {
		.rounded-#{$name} {
			border-radius: $value + $unit;
		}

		.rounded-l-#{$name} {
			border-radius: $value + $unit 0 0 $value + $unit;
		}

		.rounded-r-#{$name} {
			border-radius: 0 $value + $unit $value + $unit 0;
		}

		.rounded-t-#{$name} {
			border-radius: $value + $unit $value + $unit 0 0;
		}

		.rounded-b-#{$name} {
			border-radius: 0 0 $value + $unit $value + $unit;
		}

		.rounded-t-l-#{$name} {
			border-radius: $value + $unit 0 0 0;
		}

		.rounded-t-r-#{$name} {
			border-radius: 0 $value + $unit 0 0;
		}

		.rounded-b-l-#{$name} {
			border-radius: 0 0 0 $value + $unit;
		}

		.rounded-b-r-#{$name} {
			border-radius: 0 0 $value + $unit 0;
		}
	}

}

@each $value in $sizes {
	@include rounded-variant($value, $value);
}

@each $name,
$value in $sizes-map {
	@include rounded-variant($name, $value);
}


.rounded-full {
	border-radius: 100%;
}