@mixin space-variant($name, $value) {
	@if $name==default {
		.space {
			padding: $value + $unit;
		}

		.space-x {
			padding-left: $value + $unit;
			padding-right: $value + $unit;
		}

		.space-y {
			padding-top: $value + $unit;
			padding-bottom: $value + $unit;
		}

		.space-t {
			padding-top: $value + $unit;
		}

		.space-b {
			padding-bottom: $value + $unit;
		}

		.space-l {
			padding-left: $value + $unit;
		}

		.space-r {
			padding-right: $value + $unit;
		}
	}

	@else {
		.space-#{$name} {
			padding: $value + $unit;
		}

		.space-x-#{$name} {
			padding-left: $value + $unit;
			padding-right: $value + $unit;
		}

		.space-y-#{$name} {
			padding-top: $value + $unit;
			padding-bottom: $value + $unit;
		}

		.space-l-#{$name} {
			padding-left: $value + $unit;
		}

		.space-r-#{$name} {
			padding-right: $value + $unit;
		}

		.space-t-#{$name} {
			padding-top: $value + $unit;
		}

		.space-b-#{$name} {
			padding-bottom: $value + $unit;
		}
	}

}

@each $value in $sizes {
	@include space-variant($value, $value);
}

@each $name,
$value in $sizes-map {
	@include space-variant($name, $value);
}