@each $i in $sizes {
	.space-#{$i} {
		padding: $i + $unit;
	}

	.space-x-#{$i} {
		padding-left: $i + $unit;
		padding-right: $i + $unit;
	}

	.space-y-#{$i} {
		padding-top: $i + $unit;
		padding-bottom: $i + $unit;
	}

	.space-l-#{$i} {
		padding-left: $i + $unit;
	}

	.space-r-#{$i} {
		padding-right: $i + $unit;
	}

	.space-t-#{$i} {
		padding-top: $i + $unit;
	}

	.space-b-#{$i} {
		padding-bottom: $i + $unit;
	}
}

@each $name,
$i in $sizes-map {
	@if $name==default {
		.space {
			padding: $i + $unit;
		}

		.space-x {
			padding-left: $i + $unit;
			padding-right: $i + $unit;
		}

		.space-y {
			padding-top: $i + $unit;
			padding-bottom: $i + $unit;
		}

		.space-t {
			padding-top: $i + $unit;
		}

		.space-b {
			padding-bottom: $i + $unit;
		}

		.space-l {
			padding-left: $i + $unit;
		}

		.space-r {
			padding-right: $i + $unit;
		}
	}

	@else {
		.space-#{$name} {
			padding: $i + $unit;
		}

		.space-x-#{$name} {
			padding-left: $i + $unit;
			padding-right: $i + $unit;
		}

		.space-y-#{$name} {
			padding-top: $i + $unit;
			padding-bottom: $i + $unit;
		}

		.space-l-#{$name} {
			padding-left: $i + $unit;
		}

		.space-r-#{$name} {
			padding-right: $i + $unit;
		}

		.space-t-#{$name} {
			padding-top: $i + $unit;
		}

		.space-b-#{$name} {
			padding-bottom: $i + $unit;
		}
	}
}